html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
}
header{
    font-size: 30px;
}
#navbar{
    position: fixed;
    height: 100%;
    width:25%;
    overflow: auto;
}

#navbar-header{
background-color: green;
color: white;
padding-top:20px;
padding-bottom: 20px;
text-align: center;
font-size: 25px;
}

ul.sidenav{
list-style-type: none;
margin:0;
padding: 0;
background-color: #f1f1f1;
}

a.nav-link{
    display: block;
    padding: 15px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color:black;
}
a.nav-link:hover{
    color:white;
    background-color: green;
}

#main-doc{
    margin-left: 25%;
    padding:10px 20px;
}
.main-section ul li{
    margin:10px;
}
code{
    font-family:monospace;
    font-size: 16px;
    display: block;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 2;
    background-color: green;
    color:white;
    border: 1px solid #999;
    padding:10px;
}
@media screen and (max-width:600px)
{
    #navbar{
        width: 100%;
        height: 200px;
        position: relative;
   
    }
    a.nav-link{
        text-align: center;
        font-size: 20px;
        padding:8px;
    }
    #main-doc{
        margin-left: 0px;
    }
    
}